.container h1 {
    text-align: center;
}
.container textarea {
    width: 100%;
}

.cnt_all h1{

	font-size: 18px;
	color: #F7931E;
	text-align: left;
	margin-bottom: 10px;
}

.cnt_all input {

	height: 30px;
	margin: 20px 0;
	border-radius: 2px;
	border:1px solid #F7931E;
	padding: 5px;
}

.cnt_all button {

	margin-bottom: 40px;
	width: 200px;
	height: 35px;
}

.cnt_all select {

	height: 30px;
	margin-bottom: 20px;
	border-radius: 2px;
	border-color: #F7931E;
}

.cnt_all textarea {

	border-radius: 2px;
	border:1px solid #F7931E;
	padding: 5px;
}

.btn-group {

	width: 100%;
}
.order {
	padding: 0 !important;
	background: #5CB85C;
	cursor: pointer;
}
.ord_but {
	height: 100%;
	width: 100%;
	border-radius: 0px;
	display: block;
	color: white;
	cursor: pointer;
}
.cf_ord {
	display: none;
	padding-top: 10px;
	display: none;
}
.ns_cnt label{
	width: 100%;
}
.ns_cnt input{
	width: 300px;
}
.ns_cnt textarea{
	width: 80%;
	height: 100px;
}