table td {
  color: #333;
}
.container h1 {
    text-align: center;
}
.container textarea {
    width: 100%;
}

.cnt_all h1{

	font-size: 18px;
	color: #F7931E;
	text-align: left;
	margin-bottom: 10px;
}

.cnt_all input {

	height: 30px;
	margin: 20px 0;
	border-radius: 2px;
	border:1px solid #F7931E;
	padding: 5px;
}

.cnt_all button {

	margin-bottom: 40px;
	width: 200px;
	height: 35px;
}

.cnt_all select {

	height: 30px;
	margin-bottom: 20px;
	border-radius: 2px;
	border-color: #F7931E;
}

.cnt_all textarea {

	border-radius: 2px;
	border:1px solid #F7931E;
	padding: 5px;
}

.btn-group {

	width: 100%;
}
.order {
	padding: 0 !important;
}
.order_ord .ord_but{
	width: 100%;
	background: #7AD37A;
	cursor: pointer;
	color: #fff;

	transition: all 0.3s ease;
}
.order_ord .no_ord_but{
	width: 100%;
	background: #ff897d;
	cursor: pointer;
	color: #fff;

	transition: all 0.3s ease;
}
.order_ord .ord_but:hover{
	background:#5CB85C;
}
.order_ord .no_ord_but:hover{
	background:#e74c3c;
}
.order_phone {
  width: 150px;
	background: #7AD37A;
	cursor: pointer;

  transition: all 0.3s ease;
}
.order_phone:hover {
  background: #5CB85C;
}
#accept_phone {
  width: 600px;
}
.order_phone .ord_but {
	height: 100%;
	width: 100%;
	border-radius: 0px;
	color: #fff;

	display: block;
	cursor: pointer;
}
.cf_ord {
	padding-top: 10px;
	display: none;
}
#order_table, #accept_order_table{
  border-radius: 5px;
}
#accept_order_table .order_ord{
  width: 120px;
  padding-top: 20px!important;
}
#accept_order_table #time{
  width: 120px;
}
.ns_cnt label{
	width: 100%;
}
.ns_cnt input{
	width: 300px;
}
.ns_cnt textarea{
	width: 80%;
	height: 100px;
}
#order_table ul a:hover li{
	color: #F7931E;
}
#accept_order_table ul a:hover li{
	color: #F7931E;
}
#order_table .description{
	max-width: 150px;
	word-wrap: break-word;
}
#order_table i{
	color: #FFCA00;
}
#adm_dsc input {
  width: 80px;
  padding-left: 20px;
}
#adm_dsc span {
  margin-left: 10px;
  font-size: 20px;
  position: relative;
  top: 3px;
}

@media (max-width:768px) {
  #accept_order_table .order_ord{
    padding-top: 15px!important;
  }
}
@media (max-width:500px) {
  #accept_phone {
    width: 100%;
  }
}
