.blog_back {

	padding-bottom: 100px;
	background:#fff;
}

.blog_main_block {

	height: 650px;
}

.blog_title {

	margin-top: 50px;
}

.some_info_block_back {

	height: 90%;
	margin:5% 0;
	margin-bottom: 50px;
}

.some_info_block {

	height: 100%;
	width: 80%;
	margin:0% 10%;
	background: #ffffff;
	overflow: hidden;
	border-radius: 2px;
	/*box-shadow: 0px 0px 7px 0px #333333;*/
	border-bottom: 2px solid #F7931E;
	/*border-radius: 5px;*/
	cursor: pointer;
}
.some_info_block h4{
	width: 90%;
	height: 30px;
	margin:0 5%;
	margin-bottom: 20px;
	text-overflow: ellipsis;
    overflow: hidden;
	white-space: nowrap;

	transition: all 0.3s ease;
}
.some_info_block a {

	display: block;
	height: 100%;
	text-decoration: none;
}
.some_info_block:hover .some_info_img img {

	transform: scale(1.05);
}
.some_info_block:hover h4 {

	letter-spacing: 0.5px;
	color: #F7931E;
}

.some_info_img {

	width: 90%;
	height: 50%;
	margin:0 5%;
	overflow: hidden;
	transition: all 0.3s ease;
}

.some_info_img img{

	width: 100%;
	height:auto;
	min-height: 100%;
	transition: all 0.3s ease;
}

.some_info_txt {
    width: 90%;
    height: 50%;
    margin: 5%;
    word-wrap: break-word;
    overflow: hidden;
    padding-top: 30px;
}

.some_info_txt h4 {

	height: 20%;
	margin-bottom: 5%;
	margin-top: 30px;
	color: #F7931E;
	text-align: center;
  	overflow: hidden;
  	transition: all 0.3s ease;
}

.some_info_txt div {

	height: 68%;
	margin:0;
	margin-top: 2%;
	text-align:justify-all;
	overflow:hidden;
}


/************************************BEFORE *** PX*******************************/
/*768-xs ,992-sm,1200-md,>1200-lg*/
@media(max-width: 767px) {

	.some_info_txt h4 {

		font-size: 18px;
	}
	.some_info_txt{
		padding-top:20px;
	}
}

@media(max-width: 480px) {

	.blog_main_block {

		height: 450px;
	}

	.some_info_txt h4 {

		font-size: 14px;
	}
}

@media(max-width: 320px) {

	.blog_main_block {

		height: 400px;
	}
}

@media(min-width: 1500px) {

	.blog_main_block {

		height: 600px;
	}
	.some_info_img{
		height: 60%;
	}
	.some_info_txt{
		height: 40%;
	}
}

@media(min-width: 1920px) {

	.blog_main_block {

		height: 800px;
	}
}