.fw-addons .bckgnd {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(51, 51, 51, 0.5);
	z-index: 1100;
	cursor: pointer;
}
.fw-addons .cnt {
	border-radius: 50px;
	margin-left: -150px;
	left: 50%;
	float: left;
	top: -300px;
	width: 300px;
	height: auto;
	position: fixed;
	overflow: hidden;
	z-index: 1101;
	transition: top 0.3s ease;
}
.fw-addons .message.opened .bckgnd {
	display: block;
}
.fw-addons .message.opened .cnt {
	top: 100px;
}
.fw-addons .content {
	font-size: 1.4em;
	line-height: 135%;
	width: 100%;
	height: auto;
	padding: 20px;
	z-index: inherit;
	background-color: #F7931E;
	color: #fafafa;
	box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.5);
	text-align: center;
	position: relative;
}
.fw-addons #ajax_load {
	position: fixed;
	width: 40px;
	height: 40px;
	background: rgba(0,0,0,0.5);
	border-radius: 5px;
	bottom: 0;
	left: 50%;
	margin-left: -20px;
	z-index: 25;
	display: none;
}
.fw-addons #ajax_load.pop {
	display: block;
	bottom: 50px;
}
.fw-addons #ajax_load::after,
.fw-addons #ajax_load::before {
	position: absolute;
	width: 20px;
	height: 5px;
	background: #ccc;
	content: '';
	left: 10px;
	top: 18px;
}
.fw-addons #ajax_load.pop::after {
	animation: ajaxLoadAfter 0.3s ease infinite;
}
.fw-addons #ajax_load.pop::before {
	animation: ajaxLoaBefore 0.6s ease infinite;
}
@keyframes ajaxLoadAfter {
	0% {transform: rotate(0deg)}
	25% {transform: rotate(90deg)}
	50% {transform: rotate(180deg)}
	75% {transform: rotate(270deg)}
	100% {transform: rotate(360deg)}
}
@keyframes ajaxLoaBefore {
	0% {transform: rotate(0deg)}
	25% {transform: rotate(-90deg)}
	50% {transform: rotate(-180deg)}
	75% {transform: rotate(-270deg)}
	100% {transform: rotate(-360deg)}
}

.fw-addons #ajax_error {
	top: 70px;
	left: 50%;
	display: none;
	padding: 5px;
	text-align: center;
	z-index: 51;
	width: 400px;
	position: fixed;
	height: auto;
	line-height: 50px;
	border-radius: 5px;
	font-size: 26px;
	min-height: 60px;
	background: rgba(0,0,0,0.5);
	color: #fafafa;
	margin-left: -200px;
}

@media (max-width: 400px) {
	.fw-addons #ajax_error {
		width: 300px;
		font-size: 18px;
		margin-left: -150px;
	}
}
