#slider_cnt {
    width: 100%;
    height: calc(100vh - 360px);
}
#slider_cnt div {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: grab;
}
#slider_cnt div:active {
    cursor: grabbing;
}
#slider_cnt div span {
    display: none;
}

#logo_cnt {
    width: 100%;
    height: 60px;
    background: #eee;
    /*padding: 10px 0px;*/
    /*overflow: visible;*/
}
/*about*/
.ind_ab{
    height: auto;
    width: 100%;
    /*border-top: 1px solid #e1e1e1;*/
    background: #333;
}
.ind_ab_cnt{
    display: flex;
    align-items: center;
    justify-content: center;
}
.ind_ab_cnt ul{
    width: 100%;
    padding-left: 50px!important;
}
.ind_ab_cnt ul li{
    width: calc((100% / 2) - 20px);
    padding-left: 10px !important;
    padding-right: 10px !important;
}
.ind_ab_cnt ul li p{
    /*background:#fff;
    border-radius: 5px;*/
    padding:15px;
    color: #fff;
    border-bottom: 2px solid #F7931E;
    /*border-top: 2px solid #F7931E;*/
}

/*2blocks*/
.in_bl{
    width: 100%;
    height: auto;
    /*margin-bottom: 80px;*/
}
.in_bl .container-fluid{
    height: 80px;
    background:#333;
}
.in_bl .container-fluid h4{
    line-height: 50px;
}
.wins{
    height: inherit;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
}
.cover{
    position: absolute;
    top: 0;left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: all 0.3s ease;
    cursor: pointer;

    text-transform: uppercase;
}
.cover a{
    display: none;
}
.wins:hover .cover{
    opacity: 0.8;
}
.in_bl h4{
  height: 50px;
  background: #333;
  padding-top: 15px;
}
.inl_ttl h4{
  width: 50%;
  float: left;
}
/*.wins:hover .cover a{
    display: block;
}*/

@media (max-width: 720px) {
    #slider_cnt {
        height: 300px;
    }
}

/*slider*/
.img_cnt {

    width: 100%;
    height:100%;
    margin: auto;
    position: relative;
}

.sl_vp {

    width: 90%;
    height: 100%;
    margin: auto 5%;
    overflow: hidden;
}

.img_cnt ul {
    width: auto;
    min-width: 100%;
    height: 100%;
    position: relative;
    white-space: nowrap;
    left: 0;
    transition: left 0.5s ease-in-out;
    font-size: 0;
}

.img_cnt ul li {

    height: 100%;
    width: calc(100% / 5);
    display: inline-block;
    cursor: pointer;
}

.img_cnt ul li a div {

    width: 100% ;
    height: 100%;
    overflow: hidden;
    float: left;
    position: relative;
    display:flex;
    justify-content: center; /*центрируем элемент по горизонтали */
    align-items: center;
    /*background-size: contain;background-repeat: no-repeat;background-position: center;*/
}
.img_cnt ul li:hover a div img{
    transform: translateY(-5px);
}
.img_cnt ul li a div img {

    max-width: 80%;
    max-height: 80%;
    transition: all 0.3s ease;
}

#s_lf,#s_rg {

    width: 5%;
    height: 100%;
    position: absolute;
    background-size: 50%;background-repeat: no-repeat;background-position: center;
    transition: background 0.3s ease;
    cursor: pointer;
}

#s_lf {

    left: 0;
}

#s_rg {

    right: 0;
}

#s_lf:hover,#s_rg:hover {

    background-size: 60%;
}

@media(max-width: 767px){

    .img_cnt ul li {

        height: 100%;
        width: calc(100% / 4);
        display: inline-block;
    }
}

@media(max-width: 600px){

    .ind_ab_cnt ul li{
        width: calc(100% - 10px);
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
    .ind_ab_cnt ul{
        padding-left: 0!important;
    }
    .wins{
        height: 250px;
    }
}

@media(min-width: 1420px){

    .wins{
        height: 500px;
    }
}
@media(min-width: 1600px){

    .wins{
        height: 600px;
    }
}
