/* --- COLORS ---

    #F7931E - xenum
    #edac79 - xenum (hover for a)
    #F78400 - hover orange
    #fafafa - white
    #eee - gray
    #333 - dark-gray
    #388cff - blue
    #e74c3c - red
    linear-gradient(top, rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%) - metal
    box-shadow: 0px 0px 7px 0px #333333 inset;
*/

/* html {

    width: 100%;
    height: 100%;
    background: #fafafa;
    font-size: 14px;
    font-family: 'Roboto Condensed', sans-serif;}

body {
    width: 100%;
    height: 100%;
    padding: 0!important;
} */
html {
    background: #fafafa;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    min-width: 320px;
    line-height: 135%;
}

html, body {
    height: 100%;
    width: 100%;
}
body {
  padding-left: 0!important;
  padding-right: 0!important;
}
.page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    height: 100%;
}
#content{
    padding-top: 250px;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    background: #f5f5f5;
    position: relative;
}
a,p,li,h1,h2,h3,h4,h5,h6,span{
    color: #333;
    transition: color 0.1s ease;
}
label{
    color: #F7931E;
}
a{
    text-decoration: none;
}
a:hover{
    color: #F7931E;
}
textarea{
    resize: none;
    outline:none;
    border-radius: 5px;
}
input , select{
    border-radius: 5px;
}

select {
    background: #F7931E;
    color: #fafafa;
    border: none;
}
option {
    background: #f0f0f0;
    color: #7f7f7f;
}

/*FOR BUTTONS WITHOUT BOOT*/
.wth_boot_but{
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*FOR BUTTONS CONFIRM*/
.confirm_but{
    background: #F7931E;
    color: #fafafa;
    border-radius: 5px;
    transition: all 0.3s ease;
}
.confirm_but:hover {
    background: #F78400;
}
/*FOR TEXT AND TITLES*/
.main_title{ /*for all titles*/
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    white-space: pre-wrap;
    font-family: 'Droid Sans', sans-serif;
    color: #F7931E;
}
.tl_mg{
    margin-bottom: 50px;
}
.content_cnt{
    width: 100%;
    height: auto;
    padding: 50px 10% 100px 10%;
    position: relative;
    float: left;
}
.main_text{
    text-align: justify;
}
.dot_title{ /*for dotdot after title*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.no_wrap_title ,p{
    white-space: pre-wrap;
}
/* FOR PAGINATION */
.pagination {
    border-radius: 5px;
}
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus{
  color: #fff;
  background-color: #F7931E!important;
  border-color: #F7931E!important;
}
.pagination a:hover, a:focus {
    color: #333 !important;
    text-decoration: none;
}
/*FOR LINKS*/
.active a {
    background: none !important;
}

a:hover {

    text-decoration:none;
    transition: color 0.3s ease;
}

li > a:hover {

    background: none !important;
}

li > a:focus {

    background: none !important;
    color: #fafafa;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {

    padding: 0;
}

.navbar-collapse {

    max-height: none !important;
}

.container-fluid ,.navbar-collapse {

    padding-left: 0 !important;
    padding-right: 0 !important;
}

.navbar-collapse {

    /*max-height: 100vh !important;*/
    overflow-y: scroll !important;
    overflow-x: hidden !important;
    width: 100% !important;
    margin:0 !important;
}

.navbar {

    border:none;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {

    background: #F7931E !important;
    color: #fafafa !important;
    border-radius: 5px 5px 0 0 ;
}
#call_back {
    cursor: pointer;
}
/*.nav-tabs {
    border-bottom: none !important;
}*/

/*FOR CONT PAD*/
.au {

    margin-top: 50px;
}

.mbt {
    margin-bottom: 50px;
}

.ptb{
    padding-top: 50px;
    padding-bottom: 50px;
}
.pbm{
    padding-bottom: 50px;
}
.back{
   background-image: url(../images/main/f1.jpg);
   background-repeat: repeat-y;background-size: contain;
}
/*modal*/
.modal-header {
    padding: 20px;
    border-bottom: none;
}
.modal-dialog{
    border-radius: 5px !important;
}
.modal-body{
    padding: 30px;
}
.modal-dialog .form-group{
    position: relative;
}
.err_modal{
    background:#e74c3c !important;
    background-image: none;
}
.err_modal h4{
    color:#fff;
}

/*FOR ANIMATE CSS*/
.hidden_css {

    opacity:0;
}
.visible_css {

    opacity:1;
}

.none_css{
    display: none !important;
}
.block_css{
    display: block !important;
}
.block_inl
{
    display: inline-block !important;
}
.red{
  color: #e74c3c;
}
.green{
  color: green;
}
/*FOR REGIST AND SIGN*/

.siglog_window {

    margin-top: 50px;
    border-radius: 5px;
    background: #f5f5f5;
    background-image: url(../images/main/f3.jpg);
    background-repeat: repeat-y;background-size: cover;
    box-shadow: none;
    border: none;
}

.social_reg {

    margin-top: 30px;
}

.social_ent {

    width: 100%;
    height: 90px;
}

.social_ent li {

    width: calc(100% / 4);
    float: left;
}

.social_ent li img {

    height: 50px;
    width: 50px;
    margin: 30px auto 10px auto;
    display: block;
}

.enter_reg_place label {

    color: #F7931E;
}

.rg_no {

    width: 100%;
    margin-top: 20px;
    color: #333 !important;
}

/*FOR LOGOUT*/

.log_out_but {

    width: 50%;
    margin: 10px 25%;
}

.pass_get {

    float: right;
    cursor: pointer;
}

/*FOR IMG CENTER*/
.cent_img {

    /*Задать высоту и ширину*/
    overflow: hidden;
    float: left;
    position: relative;
    display:flex;
    justify-content: center; /*центрируем элемент по горизонтали */
    align-items: center;
}

.cent_img img {

    /*задать минимальную и максимальную высоту*/
    height: auto;
    width: auto;
    /*минимальную или макс ширину*/
}

/*FOR TEXT BLOCK*/
.cont_ab {

    background: #fafafa;
    border:1px solid #e1e1e1;
    border-radius: 5px;
    padding: 20px;
    float: left;
}

/*for inf_marker inputs*/
.inf_inp{
    cursor: pointer;
    transition: color 0.3s ease;
    position: absolute;
    left: -20px;
    top: 60%;
}
.inf_inp:hover{
    color: #333;
}
.tr_cnt{
  width: 100%;
  height: 50px;
}
#trash_but{
    height: 50px;
    width: 50px;
    position: absolute;
    top: 20px;
    right: 50px;
}

@media(max-width: 767px) {

    .content_cnt {
        width: 100%;
        height: auto;
        padding: 50px 3% 100px 3%;
        position: relative;
        float: left;
    }
    .main_title { /*for all titles*/

        font-size: 16px;
    }
    #content{
      padding-top: 0px;
    }
    #trash_but{
  		left: 10px;
      	top: 10px;
  	}
}
