#menu {
    width: 320px;
    height: 100%;
    background: #f0f0f0;
    position: fixed;
    z-index: 51;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    transition: left 0.3s ease;
    left: -330px;
}
#menu .menu-wrapper {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}
#menu .currency-selector {
    width: 100%;
    height: 40px;
}
#menu .currency-selector button {
    height: 100%;
    width: 25%;
    border: 0;
    float: left;
}
#menu.opened {
    left: 0;
}
#menu #close_butt {
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    position: absolute;
    right: -70px;
    top: 60px;
    border-radius: 30px;
    width: 50px;
    height: 50px;
    background: #F7931E;
    transition: background 0.3s ease, right 0.1s ease;
    cursor: pointer;
    z-index: 40px;
}
#menu #close_butt::after, #menu #close_butt::before {
    left: 10px;
    content: '';
    width: 30px;
    position: absolute;
    border-bottom: 3px solid #fafafa;
    transition: transform 0.3s ease, top 0.3s ease;
}
#menu #close_butt::before {
    top: 14px;
}
#menu #close_butt::after {
    top: 34px;
}
#menu #close_butt:hover {
    background: #F78400;
}

#menu.opened #close_butt {
    right: -25px;
}
#menu.opened #close_butt::after {
    transform: rotate(-45deg);
    top: 24px;
}
#menu.opened #close_butt::before {
    transform: rotate(45deg);
    top: 24px;
}

#menu .heading {
    margin-bottom: 20px;
    font-weight: bold;
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 30px;
    font-size: 34px;
    padding: 10px 0;
}

#menu .catalog {
    font-size: 18px;
    width: 100%;
    height: auto;
    padding: 10px 0;
    padding: 10px;
}
#menu .catalog .item .name {
    padding: 0 10px;
    height: 35px;
    font-size: 26px;
    line-height: 40px;
    margin-bottom: 5px;
}
#menu .catalog .item .list {
    border-radius: 5px;
    height: auto;
    background: #ddd;
    width: 100%;
    overflow: hidden;
}
#menu .catalog .item .list div {
    height: 30px;
    font-size: 14px;
    width: 100%;
    padding: 5px 5px;
    line-height: 20px;
    color: #333;
}
#menu .catalog .item .list div {
    transition: background 0.1s ease;
}
#menu .catalog .item .list div:hover {
    background: #ccc;
    color: #333;
}

@media (max-width: 420px) {
    #menu {
        left: -280px;
        width: 270px;
    }
    #menu .heading {
        font-size: 30px;
    }
    #menu .catalog .item .name {
        font-size: 22px;
        margin-bottom: 0;
    }
    #menu .catalog .item .list div {
        font-size: 13px;
    }
}
@media (max-width: 768px) {
    #menu .heading {
        margin-bottom: 5px;
    }
    #menu #close_butt {
        top: unset;
        bottom: 10px;
    }
}
