/* --- Блок товара --- */
.prods_cnt {
	position: relative;
	float: left;
	width: 180px;
	height: 300px;
	margin: 0 35px;
	box-shadow: 0px 0px 0px 1px silver;
}
/* --- Нижняя карточка --- */
.prods_cnt::before {
	content: '';
	position: absolute;
	background: #d37730;
	transform: rotate(-5deg);
	width: 180px;
	height: 300px;
	top: -10px;
	transition: transform 0.3s ease, top 0.3s ease;
}
.prods_cnt:hover::before {
	top: 0;
	transform: rotate(0deg);
}
.prods_cnt .prods_wrapper {
	background: #eee;
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
}
.prods_cnt h3 {
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 170px;
	height: 20px;
	margin: 5px;
	overflow: hidden;
	font-size: 16px;
}

/* --- Контейнер для картинки --- */
.prods_cnt .prods_img_cnt {
	position: relative;
	width: 180px;
	height: 180px;
	z-index: 10;
}
/* --- Картинка (отцентрирована по вертикали и горизонтали) --- */
.prods_cnt .prods_img_cnt img {
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	max-width: 170px;
	max-height: 170px;
	border-radius: 5px;
}
/* --- Параметры товара --- */
.prods_cnt p {
	font-size: 10px;
	line-height: 120%;
	overflow: hidden;
	margin: 0 5px 5px 5px;
	width: 170px;
	height: 85px;
	white-space: normal;
}
/* --- Всплывающее меню --- */
.prods_cnt .prods_bottom {
	width: 180px;
	background: #333;
	height: 30px;
	position: absolute;
	bottom: -30px;
	transition: bottom 0.3s ease;
}
/*.prods_cnt .prods_bottom button {
	font-weight: bold;
	float: right;
	position: relative;
	width: 80px;
	height: 30px;
	background: #d37730;
	color: #333;
	border: none;
}
.prods_cnt .prods_bottom button:hover {
	color: #fafafa;
}
.prods_cnt .prods_bottom button::before {
	content: '';
	position: absolute;
	border-bottom: 31px solid #d37730;
	border-left: 21px solid transparent;
	top: 0;
	left: -20px;
}*/
.prods_cnt .prods_bottom button {
	/*font-weight: bold;*/
	float: right;
	position: relative;
	width: 70px;
	height: 20px;
	font-size: 12px;
	border: none;
	margin: 5px 5px;
	border-radius: 5px;
	background: #F7931E;
	color: #fafafa;
	transition: background 0.1s ease;
}
.prods_cnt .prods_bottom button:hover {
	background: #F78400;
}
/* --- Цена --- */
.prods_cnt .prods_bottom h4 {
	line-height: 150%;
	font-size: 13px;
	color: #fafafa;
	float: left;
	margin: 5px;
	cursor: default;
}
.prods_cnt:hover .prods_bottom {
	bottom: 0;
}
/* для скидки */
.prods_cnt .discount{
	width: 60px;
	height: 60px;
	position: absolute;
	top: 0px;
	right: 0px;
	transform: rotate(45deg);

	background-image: url('../images/icons/sale.png');
	background-repeat: no-repeat;
	background-size: cover;

	z-index: 100;
	display: block;
}
